body {
  margin: 0;
}

header {
    padding : 72px;
    text-align: center;
    background-image: url(img/headerbackground.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header img {
  margin: auto;
}

header h1 {
    font-size: 40px;
    margin : 16px auto;
}

.head-1 {
  color: #A89C0A;
}

.head-2 {
  color: whitesmoke;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: inline-block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 16px 28px; /* Add some padding */
    text-decoration: none; /* Remove underline */
  }
  
  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
  }



  /* Ensure proper sizing */
* {
    box-sizing: border-box;
  }
  
  /* Column container */
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%;
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
  }
  
  /* Main column */
  .konten {
    -ms-flex: 70%;
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 24px 64px;
  }

  article p {
    text-indent: 30px;
    text-align: justify;
  }

  .fakeimg {
    background-image: url(img/banner.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px;
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    main {
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }

    .konten {
      padding : 24px;
    }
  }

  .footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    color: #A89C0A;
    background-color: black; /* Grey background */
  }